<button type="button" data-action="treegrid#expandAll" class="btn btn-link fw-bold">Expand all</button> |
<button type="button" data-action="treegrid#collapseAll" class="btn btn-link fw-bold">Collapse all</button>
