<%= tag.tr id: do %>
  <% if label.present? %>
    <th class="col-3" scope="row"><%= label %></th>
  <% end %>
  <% values.each do |value| %>
    <td><%= value %></td>
  <% end %>
  <% cells.each do |cell| %>
    <td><%= cell %></td>
  <% end %>
<% end %>
