  <%= tag.tr role: 'row', 'aria-level': level, 'aria-expanded': true, tabindex: 0, data: { tree_role: 'branch', action: 'click->treegrid#toggle' } do %>
    <%= tag.td role: 'gridcell', style: styles do %>
      <span class="fw-bold"><%= label %></span>
    <% end %>
    <% for _ in 1..empty_cells %>
      <td></td>
    <% end %>
    <% cells.each do |cell| %>
      <td><%= cell %></td>
    <% end %>
  <% end %>
