<%= tag.tr role: 'row', 'aria-level': level, tabindex: 0, data: { tree_role: 'leaf' } do %>
  <%= tag.td role: 'gridcell', style: styles do %>
    <%= label %>
  <% end %>
  <% cells.each do |cell| %>
    <td><%= cell %></td>
  <% end %>
<% end %>
