<% if alert? %>
  <%= render SdrViewComponents::Elements::AlertComponent.new(variant: :success, dismissible: true,
                                                             title: 'Work successfully deposited',
                                                             data: { turbo_permanent: true }, id: 'depositing-alert') do %>
    <p class="mt-2 mb-1">Here's what to expect next:</p>
    <ul>
      <li>Your deposit is currently making its way through our systems.</li>
      <li>You will receive an e-mail notification when your deposit is complete.</li>
      <li>You will be able to edit this work when the deposit is complete.</li>
      <li>You may continue to use this application and create or edit other works while this deposit is in progress.</li>
    </ul>
  <% end %>
<% else %>
  <%# This is so that when the page morphs, the alert is permanent. %>
  <div id="depositing-alert" data-turbo-permanent="true"></div>
<% end %>
