<%= render SdrViewComponents::Elements::AlertComponent.new(variant: :note,
                                                           id: 'depositing-github-note') do %>
  To complete deposit:
  <ol>
    <li><%= link_to 'Go to GitHub', github_releases_path %> and create a new release for this GitHub repository.</li>
    <li>We will check nightly and deposit new releases that we find.</li>
    <li>Or you can click the "Check for new GitHub releases" button below to deposit your new release now.</li>
  </ol>
<% end %>
