<%= render Elements::AlertComponent.new(variant: :success, dismissible: true,
                                        title: 'Work successfully submitted for review',
                                        data: { turbo_permanent: true }, id: 'pending-review-alert') do %>
  <p class="mt-2 mb-1">Here's what to expect next:</p>
  <ul>
    <li>The managers and reviewers on this collection have received a notice that your deposit was submitted.</li>
    <li>They will be prompted to review your deposit and either approve it or return it to you for changes.</li>
    <li>You will receive an email notification when your deposit is either approved or returned to you for changes.</li>
    <li>If you have questions about the review process for your deposit, please contact the managers or reviewers for this collection,
      which can be found on the Collection information page.</li>
  </ul>
<% end %>
