<%= render Elements::Tables::TableComponent.new(id: 'related-content-table', classes: 'mb-5') do |component| %>
  <% component.with_caption do %><%= render Show::TableHeadingComponent.new(text: 'Related content', presenter: work_presenter, tab: :related_content) %><% end %>
  <% related_works.each do |related_work| %>
    <% component.with_row(label: 'Related published work') do |row_component| %>
      <% row_component.with_cell do %>
        <p class="my-0">
          <%= related_work %>
        </p>
        <% if related_work.relationship %>
          <p class="my-0">
            Relationship: <%= relationship_label_for(related_work) %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% component.with_row(label: 'Related links', values: related_links) %>
<% end %>
