<%= render Elements::AlertComponent.new(variant: :danger) do %>
  <p>
    The reviewer for this collection has returned the deposit for the following reasons.

    Please fix the items given below and submit your deposit again for review.
  </p>
  <blockquote class="blockquote">
    <p><%= review_rejected_reason %></p>
  </blockquote>
<% end %>
