<%= render Elements::ModalComponent.new(id: 'contact-form-modal') do |component| %>
  <% component.with_header do %>
    <h1><%= contact_sdr %></h1>
  <% end %>
  <% component.with_body do %>
    <%= tag.turbo_frame id: 'contact-form', src: new_contacts_path(modal: true), loading: do %>
      <%= render Elements::SpinnerComponent.new %>
    <% end %>
  <% end %>
<% end %>
