<%= turbo_frame_tag content, 'show' do %>
  <% content_files ||= content.content_files.page(1) %>
  <% if content_files.empty? %>
    <p>Your files will appear here once they have been uploaded.</p>
  <% elsif content.content_files.count > Settings.hierarchical_files_limit %>
    <table class="table table-hover table-sm" id="content-table">
      <thead>
        <tr>
          <th scope="col">File Name</th>
          <th scope="col">Description</th>
          <th scope="col">Hide</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% content_files.each do |content_file| %>
          <%= render partial: 'content_files/show', locals: { content_file: } %>
        <% end %>
      </tbody>
    </table>
    <%= paginate content_files, params: { controller: 'contents', action: 'show', id: content.id } %>
  <% else %>
    <%= render Works::Edit::ContentHierarchyComponent.new(content_obj: content) %>
  <% end %>
<% end %>
