<%= turbo_frame_tag content, 'show' do %>
  <% if content_files.empty? %>
    <%= render Elements::AlertComponent.new(title: 'No files uploaded.', variant: :warning) %>
  <% else %>
    <table class="table table-hover table-sm" id="content-table">
      <thead>
        <tr>
          <th scope="col">Filename</th>
          <th scope="col">Description</th>
          <th scope="col">Hide</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% content_files.each do |content_file| %>
          <%= render partial: 'content_files/show', locals: { content_file: } %>
        <% end %>
      </tbody>
    </table>
    <%= paginate content_files, params: { controller: 'contents', action: 'show', id: content.id } %>
  <% end %>
<% end %>
