<%= turbo_frame_tag @content do %>
  <%= render Elements::Tables::TableComponent.new(id: 'files-table', classes: 'table-work', label: 'Files') do |component| %>
    <% component.with_header(headers: %w[Filename Description Hide], each_classes: ['col-6']) %>
    <% @content_files.each do |content_file| %>
      <% component.with_row(values: [content_file.filename, content_file.label, human_boolean(content_file.hide)]) %>
    <% end %>
  <% end %>
  <div class="mb-5">
    <%= paginate @content_files, params: { controller: 'contents', action: 'show', id: @content.id } %>
  </div>
<% end %>
