<p>Dear Administrator,</p>

<p>The following new collection has been created in H3:</p>

<p><%= link_to @collection.title, collection_url(@collection) %><br>
Created by <%= @collection.user.name %> <%= @collection.user.email_address %></p>

<%= render Emails::SignatureComponent.new %>
