<%= render Emails::SalutationComponent.new(user: @user) %>

<p>Members have been either added to or removed from the <%= @collection.title %> collection. Please see the
   participant section on the collection details page to see the list of current collection participants.</p>

<%= render Emails::ContactComponent.new %>

<%= render Emails::SignatureComponent.new %>
