<p>
  Your deposit will be available soon in SearchWorks, the library catalog.
   SearchWorks serves as the discovery point for others who are interested in
   finding and viewing your deposit as well as other deposits in the Stanford Digital Repository.
</p>
