<div class="mb-5">
  <%= render Elements::Forms::CheckboxComponent.new(form:,
                                                    field_name: :email_when_participants_changed,
                                                    label: 'Send email to Collection Managers and Reviewers ' \
                                                           '(see Workflow section of form) when participants are added/removed.') %>
  <%= render Elements::Forms::CheckboxComponent.new(form:, field_name: :email_depositors_status_changed, label: 'Send email to Depositors who have been added or removed.') %>
</div>
