<div class="mb-5">
  <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:,
                                                             field_name: :email_when_participants_changed,
                                                             label_text: 'Send email to Collection Managers and Reviewers ' \
                                                                         '(see Workflow section of form) when participants are added/removed.') %>
  <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :email_depositors_status_changed, label_text: 'Send email to Depositors who have been added or removed.') %>
</div>
