<h1 class="h3 mb-4"><%= @work_form.title %></h1>
<%= render Works::Show::TableComponent.new(label: 'Title', id: 'title-table') do |component| %>
    <% component.with_row(label: 'Title', value: @work_form.title) %>
<% end %>
