<h1 class="h3 mb-4 d-inline-block"><%= @work_form.title %></h1><span class="ms-4 fst-italic status"><%= @status_presenter.status_message %></span>
<%= render Elements::ButtonLinkComponent.new(link: edit_work_path(@work_form.druid), label: 'Edit or deposit', classes: 'float-end', variant: :'outline-primary') if @status_presenter.editable? %>
<%= render Elements::Tables::TableComponent.new(id: 'title-table', classes: 'table-work mb-5', label: 'Title') do |component| %>
    <% component.with_row(label: 'Title', values: [@work_form.title]) %>
<% end %>
