<div class="form-check">
  <%= render Elements::Forms::LabelComponent.new(form:, field_name:, label_text: label, hidden_label:, default_label_class: 'form-check-label') %>
  <%= render Elements::Forms::HelpTextComponent.new(id: help_text_id, help_text:) %>
  <%= form.checkbox field_name, class: 'form-check-input', required:, aria: field_aria, data: %>
  <%= render Elements::Forms::InvalidFeedbackComponent.new(form:, field_name:) %>
</div>
