<div>
  <%= render Elements::Forms::LabelComponent.new(form:, field_name:, label_text: label, hidden_label:) %>
  <%= render Elements::Forms::HelpTextComponent.new(id: help_text_id, help_text:) %>
  <%= form.file_field field_name, class: 'form-control', required:, aria: field_aria, multiple: true %>
  <%= render Elements::Forms::InvalidFeedbackComponent.new(form:, field_name:) %>
</div>
