<div>
  <%= render SdrViewComponents::Forms::LabelComponent.new(form:, field_name:, text: label, hidden: hidden_label) %>
  <%= render SdrViewComponents::Forms::HelpTextComponent.new(id: help_text_id, text: help_text) %>
  <%= form.file_field field_name, class: 'form-control', required:, aria: field_aria, multiple: true, data: %>
  <%= render SdrViewComponents::Forms::InvalidFeedbackComponent.new(form:, field_name:) %>
</div>
