<div>
  <%= render Elements::Forms::LabelComponent.new(form:, field_name:, label_text: label, hidden_label:) %>
  <%= render Elements::Forms::HelpTextComponent.new(id: help_text_id, help_text:) %>
  <%= form.select field_name, options, { prompt: }, { class: 'form-select', aria: field_aria } %>
  <%= render Elements::Forms::InvalidFeedbackComponent.new(form:, field_name:) %>
</div>
