<div class="mb-4">
  <%= render Elements::Forms::LabelComponent.new(form:, field_name:, label_text: label) %><br>
  <div class="btn-group" role="group">
      <% options.each do |option| %>
        <%= form.radio_button field_name, option['value'], type: 'radio', class: 'btn-check', data: option['data'] %>
        <%# Actions must be triggered by button label, which overlays radio %>
        <%= form.label field_name, option['label'], value: option['value'], class: 'btn btn-outline-primary', data: option['label_data'] %>
      <% end %>
    </div>
  <%= render Elements::Forms::InvalidFeedbackComponent.new(form:, field_name:) %>
</div>
