<%= render Emails::SalutationComponent.new(user: @user) %>

<p>
  Your Item Report from the Stanford Digital Repository Admin dashboard is attached.
</p>

<%= render Emails::SignatureComponent.new %>
