<%= render Elements::ButtonComponent.new(variant: :'outline-primary', classes: 'py-0', bordered: false, data:) do %>
  <%= helpers.upload_icon %><span class="visually-hidden">Upload to this folder</span>
<% end %>
