<%= render SdrViewComponents::Elements::ButtonComponent.new(variant: :'outline-primary', classes: 'py-0',
                                         bordered: false, data:, title: label) do %>
  <%= helpers.upload_icon %><span class="visually-hidden"><%= label %></span>
<% end %>
