<%= render SdrViewComponents::Elements::ButtonLinkComponent.new(link: content_file_path(content_file),
                                                                variant: :'outline-primary',
                                                                bordered: false,
                                                                data:,
                                                                classes: 'py-0',
                                                                title: label) do %>
  <%= helpers.delete_icon %><span class="visually-hidden"><%= label %></span>
<% end %>
