<p>
  Be sure you have completed all the required sections. Your deposit may take several hours
  to complete if your filesize is larger than 10GB.
</p>
<%= link_to 'Cancel', works_path %>
<%= render Elements::Forms::SubmitComponent.new(form:, label: 'Deposit', classes: 'mt-2') %>
