<%= render Elements::Forms::SelectFieldComponent.new(form:, field_name:, options: license_options, required: true, label:, help_text:, prompt:, width: 500) %>
<p class="mt-4"><%= helpers.t('works.edit.fields.license.license_terms_of_use') %></p>
<p class="fst-italic"><%= helpers.t('works.edit.fields.license.terms_of_use') %></p>
