<% if already_agreed? %>
  <%= form.hidden_field :agree_to_terms, value: true %>
  <%# For spacing %>
  <div class="pane-section"></div>
<% else %>
  <div class="pane-section">
    <div class="d-flex justify-content-between">
      <div class="h5">Terms of Deposit</div>
      <%= helpers.link_to_new_tab(t('terms_of_deposit.faq'), Settings.terms_url) %>
    </div>
    <div style="height: 350px; overflow-y: auto; resize: vertical;" class="border border-3 border-light-subtle border-opacity-75 mb-5 p-3">
      <%= tag.turbo_frame id: 'terms-of-deposit', src: terms_path %>
    </div>

    <%= render Elements::Forms::CheckboxComponent.new(form:, field_name: :agree_to_terms, label: 'I agree to the SDR Terms of Deposit', label_classes: 'fw-bold') %>
  </div>
<% end %>
