---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/doi/10.1093/gmo/9781561592630.article.a2289571
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,9,10]],"date-time":"2024-09-10T03:14:43Z","timestamp":1725938083603},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2016,1,20]]},"DOI":"10.1093\/gmo\/9781561592630.article.a2289571","type":"reference-book","created":{"date-parts":[[2018,1,3]],"date-time":"2018-01-03T05:39:06Z","timestamp":1514957946000},"source":"Crossref","is-referenced-by-count":0,"title":["Timberlake,
        Justin"],"prefix":"10.1093","author":[{"given":"Miles","family":"White","sequence":"first","affiliation":[]}],"member":"286","container-title":["Oxford
        Music Online"],"original-title":["Timberlake, Justin"],"language":"en","deposited":{"date-parts":[[2018,1,3]],"date-time":"2018-01-03T05:39:07Z","timestamp":1514957947000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.oxfordmusiconline.com\/grovemusic\/view\/10.1093\/gmo\/9781561592630.001.0001\/omo-9781561592630-e-1002289571"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2016,1,20]]},"references-count":0,"URL":"https:\/\/doi.org\/10.1093\/gmo\/9781561592630.article.a2289571","relation":{},"subject":[],"published":{"date-parts":[[2016,1,20]]}}}'
  recorded_at: Thu, 19 Feb 2026 23:47:33 GMT
recorded_with: VCR 6.4.0
