<turbo-frame id="contact-form">
  <%= render SdrViewComponents::Elements::AlertComponent.new(variant: :success, dismissible: !@welcome) do %>
    <div class="h2">Help request successfully sent</div>
    <p class="mt-3">Your message has been sent to the SDR team. We will respond to you soon.</p>
  <% end %>
  <% if @welcome %>
    <%= render Elements::ButtonLinkComponent.new(data: { turbo_frame: '_top' }, link: root_path, label: 'Back', variant: :link) %>
  <% else %>
    <%= render 'form', contact_form: ContactForm.new, welcome: @welcome, modal: @modal %>
  <% end %>
</turbo-frame>
