<div class="d-flex flex-row">
  <div data-controller="form-submit" class="px-2">
    <%= form_with model: form, url:, method: :get, class: 'mb-5' do |form| %>
      <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :days_limit,
                                                           options: days_limit_options,
                                                           label: 'Days limit',
                                                           hidden_label: true,
                                                           data: { action: 'change->form-submit#submit' }) %>
      <%= hidden_field_tag :sort_by, sort_by %>
    <% end %>
  </div>
</div>
