<%= render Elements::CardComponent.new(classes: 'quote-card mx-4 mx-md-2 border-0') do |component| %>
  <% component.with_body do %>
    <div class="mb-2 text-center">
      <%= helpers.quote_icon(classes: 'icon-lg') %>
    </div>
    <p class="card-text">
      <%= content %>
    </p>
  <% end %>
<% end %>
