<% if agree_to_terms? %>
  <p>You have accepted the <%= helpers.terms_of_deposit_modal_link %>.</p>
<% else %>
  <%= render Elements::Forms::CheckboxComponent.new(form:, field_name: :agree_to_terms, label: label_text) %>
<% end %>
