apo: 'druid:hv992ry2431'
project_tag: 'H3'
abstract_maximum_length: 5000

dor_services:
  url: http://localhost:3003
  # To generate the token: docker-compose run dor-services-app rake generate_token
  token: eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJGb28ifQ.-BVfLTW9Q1_ZQEsGv4tuzGLs5rESN7LgdtEwUltnKv4

workflow:
  url: http://localhost:3001

purl:
  url: "https://sul-purl-stage.stanford.edu"

staging_location: '/sdr-deposit-staging'

preservation_catalog:
  url: 'https://preservation-catalog-stage.stanford.edu'
  token: 'mint-token-with-target-preservation-catalog-rake-generate-token'

# mappings from authorization role to workgroup name
authorization_workgroup_names:
  administrators: 'dlss:hydrus-app-administrators'
  collection_creators: 'dlss:hydrus-app-collection-creators'

# See https://www.oclc.org/developer/develop/web-services/fast-api/assign-fast.en.html for more information
autocomplete_lookup:
  url: https://fast.oclc.org/searchfast/fastsuggest
  num_records: 10
  identifier_prefix: 'http://id.worldcat.org/fast/'

orcid:
  url: 'https://orcid.org'
  public_api_base_url: 'https://pub.orcid.org/v3.0/'

file_upload:
  hierarchical_files_limit: 1000
  max_filesize: 10000 # 10GB
  max_files: 25000

search:
  file_search_box_min: 50 # only show search bar above file list in edit page if there are more than this many files in the object

datacite:
  prefix: '10.80343'
  host: api.test.datacite.org

terms_url: https://sdr.library.stanford.edu/documentation/understanding-sdr-terms-deposit
newsletter_url: https://stanford.us20.list-manage.com/subscribe?u=139e1b2d3df8f8cacd77c8160&id=4f4148a871
license_url: https://sdr.library.stanford.edu/documentation/license-options
access_url: https://sdr.library.stanford.edu/documentation/copyrights-licenses-and-access-restrictions
altmetric_url: 'https://help.altmetric.com/support/solutions/articles/6000232837-what-is-altmetric-and-what-does-it-provide-'

support_email: 'sdr-support@lists.stanford.edu'
jira_email: 'sdr-support@jirasul.stanford.edu'

host: 'localhost:3000'

rabbitmq:
  enabled: false
  hostname: localhost
  vhost: /
  username: guest
  password: guest

notifications:
  enabled: true
  admin_email: h2-administrators@lists.stanford.edu

accountws:
  pem_file: /etc/ssl/certs/sul-h3-qa.stanford.edu.pem
  host: accountws-uat.stanford.edu

file_uploads_root: <%= Rails.root.join("storage") %>

globus:
  enabled: false
  client_id: fake253a-g823-4f79-b722-a558a1236b95
  client_secret: ~
  transfer_endpoint_id: fake7087-d32d-4588-8517-b2d0d32d53b8
  uploads_directory: /uploads/
  instructions_url: https://docs.google.com/document/d/10b7y3yZCOfyVJ_uP4l7QHbkILQKnfdJi9hj-MpmmdIk
  origins:
    stanford_gdrive: e1c8858b-d5aa-4e36-b97e-95913047ec2b
    oak: 8b3a8b64-d4ab-4551-b37e-ca0092f769a7
    sherlock: 6881ae2e-db26-11e5-9772-22000b9da45e
    onedrive: 9beecf19-601f-47b9-a15b-a0f34845abb1

ahoy:
  tooltip: true
  form_changes: true

google_analytics:
  enabled: false

ror:
  url: https://api.ror.org
  client_id: hungry-hungry-hippo-stanford-university # actual client ID in deployed envs coming from vault/puppet

# GitHub Integration
github:
  enabled: false

article_deposit:
  enabled: false

person_api:
  url: 'https://registry.stanford.edu'
  key: 'fake-key'  # Base64 encoded; actual values from vault/puppet
  cert: 'fake-cert'  # Base64 encoded; actual values from vault/puppet
