---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/sul-dlss/hungry-hungry-hippo/releases?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aDNfY2xpZW50X2FwcF9pZDpoM19jbGllbnRfYXBwX3NlY3JldA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e1fea36deea6043ef7c90e0f55ca46165ca512581a6826269f3af44b9f24702"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1770761891'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/sul-dlss/hungry-hungry-hippo/releases/186241744","assets_url":"https://api.github.com/repos/sul-dlss/hungry-hungry-hippo/releases/186241744/assets","upload_url":"https://uploads.github.com/repos/sul-dlss/hungry-hungry-hippo/releases/186241744/assets{?name,label}","html_url":"https://github.com/sul-dlss/hungry-hungry-hippo/releases/tag/v0.1.0","id":186241744,"author":{"login":"aaron-collier","id":2294288,"node_id":"MDQ6VXNlcjIyOTQyODg=","avatar_url":"https://avatars.githubusercontent.com/u/2294288?v=4","gravatar_id":"","url":"https://api.github.com/users/aaron-collier","html_url":"https://github.com/aaron-collier","followers_url":"https://api.github.com/users/aaron-collier/followers","following_url":"https://api.github.com/users/aaron-collier/following{/other_user}","gists_url":"https://api.github.com/users/aaron-collier/gists{/gist_id}","starred_url":"https://api.github.com/users/aaron-collier/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aaron-collier/subscriptions","organizations_url":"https://api.github.com/users/aaron-collier/orgs","repos_url":"https://api.github.com/users/aaron-collier/repos","events_url":"https://api.github.com/users/aaron-collier/events{/privacy}","received_events_url":"https://api.github.com/users/aaron-collier/received_events","type":"User","user_view_type":"public","site_admin":false},"node_id":"RE_kwDONIqI6M4LGdLQ","tag_name":"v0.1.0","target_commitish":"main","name":"v0.1.0","draft":false,"immutable":false,"prerelease":false,"created_at":"2024-11-19T12:32:31Z","updated_at":"2024-11-19T16:54:06Z","published_at":"2024-11-19T16:54:06Z","assets":[],"tarball_url":"https://api.github.com/repos/sul-dlss/hungry-hungry-hippo/tarball/v0.1.0","zipball_url":"https://api.github.com/repos/sul-dlss/hungry-hungry-hippo/zipball/v0.1.0","body":"##
        What''s Changed in Sprint 1\r\n\r\n### Initial Rails 8 setup and deployment\r\n\r\n*
        Rails new app by @lwrubel in https://github.com/sul-dlss/hungry-hungry-hippo/pull/21\r\n*
        Adds overmind. by @justinlittman in https://github.com/sul-dlss/hungry-hungry-hippo/pull/25\r\n*
        Adds rubocop. by @justinlittman in https://github.com/sul-dlss/hungry-hungry-hippo/pull/26\r\n*
        Adds config. by @justinlittman in https://github.com/sul-dlss/hungry-hungry-hippo/pull/27\r\n*
        Adds rspec, webmock, capybara, and additional rubos. by @justinlittman in
        https://github.com/sul-dlss/hungry-hungry-hippo/pull/29\r\n* Setup CircleCI
        and code coverage by @aaron-collier in https://github.com/sul-dlss/hungry-hungry-hippo/pull/31\r\n*
        Automate installation of overmind and use `bin/dev` for continuity by @mjgiarlo
        in https://github.com/sul-dlss/hungry-hungry-hippo/pull/30\r\n* Use postgres
        for the application database in all envs by @mjgiarlo in https://github.com/sul-dlss/hungry-hungry-hippo/pull/39\r\n*
        Adds HB gem. by[...]
