<tr style="vertical-align: middle;">
  <td><%= content_file.filename %></td>
  <td>
    <%= render Works::Edit::ContentFileDescriptionComponent.new(content_file:) %>
  </td>
  <td>
    <%= render Works::Edit::ContentFileHideComponent.new(content_file:) %>
  </td>
  <td>
    <%= render Works::Edit::ContentFileDeleteComponent.new(content_file:) %>
  </td>
</tr>
