<div class="d-flex justify-content-between">
  <div>
    <%= render Elements::HeadingComponent.new(level: :h1, text: title, classes: 'mb-4 d-inline-block') %>
    <span class="ms-4 fst-italic status"><%= status_message %></span>
  </div>
  <div class="d-flex align-items-start">
    <%= render Edit::EditDraftButtonComponent.new(presenter:) %>
    <%= render Edit::DiscardDraftButtonComponent.new(presenter:, classes: 'ms-2') %>
  </div>
</div>
