<%= turbo_frame_tag 'collection-search' do %>
  <div class="row align-items-start mb-4">
    <div class="col-2">
      <label for="collection-search-input" class="form-label mt-2">Search for collections</label>
    </div>
    <div class="col-6">
      <%= tag.div data: { controller: 'autocomplete', autocomplete_url_value: search_admin_collection_search_path, autocomplete_min_length_value: 3 }, role: 'combobox' do %>
        <input id='collection-search-input' class="form-control" type="text" data-autocomplete-target="input" autocomplete="off">
        <input type="hidden" name="druid" data-autocomplete-target="hidden" data-controller="redirect" data-action="change->redirect#redirect">
        <ul class="list-group" data-autocomplete-target="results"></ul>
      <% end %>
    </div>
  </div>
<% end %>
