<% @collections.each do |collection| %>
  <%= tag.li class: 'list-group-item', role: 'option', data: { autocomplete_value: collection_path(collection) } do %><%= collection.title %><% end %>
<% end %>
<% if @collections.empty? %>
  <li class="list-group-item" role="option" aria-disabled="true">No collections found</li>
<% end %>
