<%= render Elements::HeaderComponent.new('h3', classes: ['mb-4'], value: label) %>

<% collections.each do |collection| %>
  <%= render Elements::HeaderComponent.new('h4', value: link_to(collection.title, "/collections/#{collection.druid}")) %>
  <%= render Dashboard::Show::WorksListComponent.new(collection:) %>

  <%= link_to new_work_path, class: 'btn btn-primary' do %>
    <div class="align-self-center d-flex justify-content-center">Deposit to this collection</div>
  <% end %>
<% end %>
