<div class="row">
  <div class="col-lg-8">
    <%= render Elements::AlertComponent.new(variant: :info, dismissible: true) do %>
      Congratulations on taking the first step to deposit your work into a permanent and
      stable repository! Click one of the buttons below to begin. If you run into any problems,
      contact us at <%= helpers.link_to_new_tab(support_email, "mailto:#{support_email}") %>.
    <% end %>
  </div>
</div>
