<%= turbo_frame_tag 'globus' do %>
  <div class="row py-3">
    <div class="col">
      <%= render Elements::AlertComponent.new(title: 'Transfers in progress. Please try again once complete.', variant: :warning) if @tasks_in_progress %>
      <%= render Works::Edit::GlobusComponent.new(globus_destination_path: @destination_path, content_obj: @content) %>
    </div>
  </div>
<% end %>
