<%= turbo_frame_tag 'globus' do %>
  <div class="row py-3">
    <div class="col">
      <%= turbo_stream_from 'globus', @content %>
      <%= render Elements::SpinnerComponent.new(message: 'Getting list of files from Globus') %>
      <%= render Elements::ButtonFormComponent.new(label: 'Cancel', variant: 'outline-primary',
                                                   link: cancel_content_globuses_path(@content), data: { action: 'dropzone-files#enableDropzone' },
                                                   method: :post, top: false) %>
    </div>
  </div>
<% end %>
